api_token           = "TO_DEFINE"
//vmc_token           = ""
org_id              = "TO_DEFINE"
aws_account_number  = "TO_DEFINE"
vpc_subnet_id       = "TO_DEFINE"
sddc_name           = "XP_DAY_SDDC"
sddc_region         = "eu-west-2"
sddc_mgmt_subnet    = "10.2.0.0/23"
sddc_default        = "10.3.0.0/24"
//sddc_type         = "DEFAULT"
// sddc type is different for 1 NODE deployment from DEFAULT to 1NODE
sddc_type           = "1NODE"
size                = "medium"
provider_type       = "AWS"
deployment_type     = "SingleAZ"
host_instance_type  = "I3_METAL"
sddc_num_hosts      = "1" 
// Definition of the second SDDC
vpc_subnet_id_target       = "TO_DEFINE"
sddc_name_target           = "XP_DAY_SDDC_ONPREM"
sddc_mgmt_subnet_target    = "172.16.0.0/23"
sddc_default_target        = "172.17.0.0/24"