api_token           = "TO BE DEFINED"
sddc_name           = "XP_DAY_SDDC"
sddc_id             = "TO BE DEFINED"
api_token_target    = "TO BE DEFINED"
sddc_name_target    = "XP_DAY_SDDC_ONPREM"
sddc_id_target      = "TO BE DEFINED"
