vc_onprem_user          = "cloudadmin@vmc.local"
vc_onprem_pw            = "aaaaa"
vc_onprem_url           = "vcenter.sddc-X-Y-Z-T.vmwarevmc.com"

vc_cloud_user           = "cloudadmin@vmc.local"
vc_cloud_pw             = "aaaaa"
vc_cloud_url            = "vcenter.sddc-X-Y-Z-T.vmwarevmc.com"

