// BE CAREFUL, ADD THE SDDC_ID JUST CREATED BEFORE RUNNING THE SCRIPT!!!!!

token               = ""
org_id              = ""
sddc_id_src         = ""
sddc_id_dst         = ""

admin_public_ips    = ["1.1.1.1","2.2.2.2"]
hcx_ip_src          = "3.3.3.3"