// BE CAREFUL, ADD THE SDDC_ID JUST CREATED BEFORE RUNNING THE SCRIPT!!!!!

token               = ""
org_id              = ""
sddc_id             = ""


token_onprem        = ""
org_id_onprem       = ""
sddc_id_onprem      = ""


admin_public_ips    = ["1.1.1.1","2.2.2.2"]