api_token           = ""

sddc_id             = ""
sddc_name           = "Source_SDDC"
user                = "cloudadmin@vmc.local"
pw                  = ""

sddc_name_target    = "Destination_SDDC"
sddc_id_target      = ""
user_target         = "cloudadmin@vmc.local"
pw_target           = ""