api_token           = ""
org_id              = ""
aws_account_number  = "6111111111"
vpc_subnet_id       = "subnet-00f1dcidididid"
sddc_name           = "XP_DAY_SDDC"
sddc_region         = "eu-west-2"
sddc_mgmt_subnet    = "10.2.0.0/16"
sddc_default        = "10.3.0.0/24"
sddc_type           = "DEFAULT"
size                = "medium"
provider_type       = "AWS"
deployment_type     = "SingleAZ"
host_instance_type  = "I3_METAL"
sddc_num_hosts      = "3" 
